<footer id="footer" class="footer" style="background-color: #99B898;">

  <div class="container footer-top">
    <div class="row gy-4">

      <div class="col-lg-5 col-md-12 footer-about">
        <a href="/index.html" class="logo d-flex align-items-center">
          <span class="sitename">Nutrizione a Morsi</span>
        </a>

        <p>
          <i>
            “La nutrizione è la base della salute: ciò che scegliamo di mangiare
            oggi costruisce il nostro benessere di domani.”
          </i>
        </p>

        <div class="social-links d-flex mt-4">
          <a href="https://www.instagram.com/nutrizione_a_morsi/">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://www.instagram.com/nutrizione_a_morsi/">
            <i class="bi bi-whatsapp"></i>
          </a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Link utili</h4>
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a href="/index.html#about">About me</a></li>
          <li><a href="/index.html#services">Servizi</a></li>
          <li><a href="/index.html#portfolio">Piani</a></li>
          <li><a href="/index.html#contact">Contatti</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>I miei servizi</h4>
        <ul>
          <li>
            <a href="/prima-visita.html">
              Prima Visita Nutrizionale
            </a>
          </li>
          <li>
            <a href="/piani-nutrizionali-personalizzati.html">
              Piani Nutrizionali Personalizzati
            </a>
          </li>
          <li>
            <a href="/consulenza-nutrizionale.html">
              Percorsi di Educazione Nutrizionale
            </a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Vieni a trovarmi</h4>

        <p>Viale dei Platani 34B, Ragusa</p>

        <p class="mt-4">
          <strong>Phone:</strong>
          <span>+39 366 396 1623</span>
        </p>

        <p>
          <strong>Email:</strong>
          <span>nutrizionistacilia@gmail.com</span>
        </p>

        <p>
          <strong>PEC:</strong>
          <span>claudia.cilia@pecordinebiologi.it</span>
        </p>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">

    <p>
      <span>P.IVA</span>
      <strong class="px-1 sitename">01882730888</strong>
    </p>

    <p>
      <span>Ordine dei Biologi della Sicilia:</span>
      <strong class="px-1 sitename">Sic_A7820</strong>
    </p>

    <p>
      © <span>Copyright</span>
      <strong class="px-1 sitename">Nutrizione a Morsi</strong>
      <span>All Rights Reserved</span>
    </p>

    <div class="credits">
      Designed by
      <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>

  </div>

</footer>
